/venv
app/__pycache__/admin_handlers.cpython-312.pyc
app/__pycache__/nlp_processor.cpython-312.pyc
app/__pycache__/payment.cpython-312.pyc
app/__pycache__/states.cpython-312.pyc
app/__pycache__/user_handlers.cpython-312.pyc
app/keyboards/__pycache__/user_keyboard.cpython-312.pyc
app/keyboards/__pycache__/admin_keyboard.cpython-312.pyc
app/keyboards/__pycache__/__init__.cpython-312.pyc
app/database/__pycache__/PostgreSQL_db.cpython-312.pyc
