version: '3.12'

services:
  db:
    image: pgvector/pgvector:pg18
    container_name: pgvector-container
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DBNAME}
      POSTGRES_USER: ${USER}
      POSTGRES_PASSWORD: ${PASSWORD}
    ports:
      - "${PORT}:5432"
    volumes:
       - pg_data:/var/lib/postgresql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-container
    environment:
      PGADMIN_DEFAULT_EMAIL: user@domain.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: unless-stopped

  ollama:
    image: ollama/ollama:0.17.4
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    ports:
      - "11434:11434"
    restart: unless-stopped

  bot:
    build: .
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - TOKEN=${TOKEN}
      - ADMIN_ID=${ADMIN_ID}
      - PAYMENTS_TOKEN=${PAYMENTS_TOKEN}
      - DBNAME=${DBNAME}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - PORT=${PORT}
      - OLLAMA_API_URL=http://ollama:11434
    depends_on:
      - db
      - ollama
    restart: unless-stopped

volumes:
  pg_data:
  ollama:
  